* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
}
body{
  background-size: cover;
  font-family: 'Poppins', sans-serif !important;
  height: 100vh;
  overflow-x: hidden;
  background-color: white !important;
  background-size: 4%;
  width: 100%;
  
}
[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]{
    display:none;
}
.disclaimer{
    display:none;
}
@media screen and (max-width: 400px){
  #slogan{
      width: 140px;
      height: 33px;
  }
  #menu2 .main-nav2 a {
    font-size: 1.1 rem;
  }
}
.navigation {
  background: transparent !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation ul li {
  width: 90px;
  font-size: 22px;
  font-weight: 500;
  display: block;
  text-align: center;
  line-height: 70px;
  opacity: 0.8;
  margin: 0 10px;
  float: left;
}
.navigation ul li a {
  text-decoration: none;
  color: black !important;
  display: block;
}
.navbar-expand-lg.scrolled {
  background-color: white !important;
  transition: 200ms linear;
}
.navigation ul li a:hover {
  cursor: pointer;
  color: #0c7daa !important;
}
.navigation ul li ul li {
  display: none;
}
.navigation ul li:hover ul li {
  display: block;
  border-bottom: #0c7daa 2px solid;
}
.container {
  text-align: center;
}
.logo {
  z-index: 10;
  margin-top:1.5%;
  margin-left: 37px;
}
.phone {
  display: none;
}
@media screen and (max-width: 760px) {
  .phone {
      position: fixed;
      top: 0;
      background-color: rgb(46, 46, 46);
      left: 0;
      z-index: 10;
      width: 100%;
      height: 55px;
      display: flex;
      flex-direction: row;
 }
  .logo {
      z-index: 10;
      padding-top:2% ;
 }
  .navigation {
      display: none;
 }
}
#menu2 {
  background: #1e96a1;
  height: 100%;
  right: 0%;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.7s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 1100;
}
#menu2.open {
  opacity: 1;
  visibility: visible;
}
#menu2.open li:nth-child(1) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
#menu2.open li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
#menu2.open li:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
#menu2.open li:nth-child(4) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
#menu2.open li:nth-child(5) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
#menu2.open li:nth-child(6) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
#menu2.open li:nth-child(7) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
#menu2.open li:nth-child(8) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
#menu2.open li:nth-child(9) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
#menu2.open li:nth-child(10) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
#menu2.open li {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
#menu2 ul:hover a {
  opacity: 0.5;
}
#menu2 ul a {
  -webkit-transform: translateZ(0);
  transition: opacity 0.3s ease-in-out;
}
#menu2 ul a:hover {
  opacity: 1;
}
#menu2 .main-nav2 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#menu2 .main-nav2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu2 .main-nav2 a {
  color: #ffffff;
  display: block;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 1rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
#menu2 .main-nav2 a:first {
  padding-top: 0;
}
#menu2 .menu2-footer {
  padding: 2rem;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}
#menu2 .menu2-footer ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu2 .menu2-footer ul li {
  display: inline;
  margin: 0 1rem;
}
#menu2 .menu2-footer a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.toggle-menu2 {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  right: 0%;
  float: right;
  height: 50px;
  outline: none;
  padding: 0;
  pointer-events: initial;
  position: fixed;
  vertical-align: middle;
  width: 50px;
  z-index: 1110;
}
.toggle-menu2 span {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  left: calc(50% - 13px );
  position: absolute;
  top: calc(50% - 1px );
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
  width: 26px;
}
.toggle-menu2 span:before, .toggle-menu2 span:after {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
  width: 26px;
}
.toggle-menu2 span:before {
  top: 7px;
}
.toggle-menu2 span:after {
  top: -7px;
}
.toggle-menu2.active span {
  background-color: transparent;
  transition: background 0.2s ease-out;
}
.toggle-menu2.active span:before, .toggle-menu2.active span:after {
  transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}
.toggle-menu2.active span:before {
  top: 0;
  transform: rotate3d(0, 0, 1, -45deg);
}
.toggle-menu2.active span:after {
  top: 0;
  transform: rotate3d(0, 0, 1, 45deg);
}

/* --------------------------------------content---------------------------------------- */
#lim{
  text-align: center;
  font-size: 17px;
  color: black;
}
#lim article{
  text-align: center;
  width: 99%;
  height: 100%;
  border: solid #EEE4AB 6px;
  padding: 30px;
  border-bottom: 0;
}
#heat{
  color: #1e96a1;
  font-size: 20px;
}
#manage{
  color: #1e96a1;
  font-size: 30px;
  font-weight: 700;
  margin: 2%;
}
#only_logo{
  width :260px;
  height :260px;
  border: none;
  box-shadow: 3px 1px 3px 1px rgb(58, 56, 56);
}
.lead{
  text-align: center;
  margin: 1%;
}
.lead img{
  box-shadow: 6px 4px 6px 4px rgb(58, 56, 56);
  border-radius: 50%;
  width: 220px;
  height: 220px;
  border: 3px solid #EEE4AB;
}
.lead h3{
  color: #1e96a1;
  font-size: 25px;
  font-weight: 500;
}
.lead h4{
  color: black;
  font-size: 18px;
}
.explore{
  position: absolute;
  transform: translate(-50% , -50%);
  padding: 10px;
  background-color: #99C4C8;
  text-align: center;
  height:50px;
  width: 150px;
  border: 3px solid #1e96a1;
  font-size: 17px;
  font-weight: bold;
  border-radius: 6px;
  transition: .6s;
  cursor: pointer;
  overflow: hidden;
}
.explore:focus{
  outline: none;
}
.explore:hover{
  background: #EEE4AB;
  border: 3px solid #E5CB9F;
  transition: .4s;
  
}
@media (max-height:800px){
  .lolll{
      position: static;
 }
  header {
      padding-top:7px;
      color: #1e96a1;
 }
}
.lolll-distributed{
  box-sizing: border-box;
  width: 100%;
  text-align: left;
}
.lolll-distributed .lolll-left, .lolll-distributed .lolll-center, .lolll-distributed .lolll-right{
  display: inline-block;
  vertical-align: top;
}
/* lolll left */
.lolll-distributed .lolll-left{
  width:45%;
  padding-left: 4%;
  padding-top: 2%;
}
/* lolll Center */
.lolll-distributed .lolll-center{
  width: 1%;
}
/* lolll Right */
.lolll-distributed .lolll-right{
  width: 45%;
}
@media (max-width: 880px) {
  .lolll-distributed .lolll-left, .lolll-distributed .lolll-center, .lolll-distributed .lolll-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
 }
  .lolll-distributed .lolll-center i{
      margin-left: 0;
 }
}
.tag {
  opacity: 0;
  transform: translate(0, 15vh);
  transition: all 1s;
}
.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}
